.navbar {
    background-color: $color-champagne;
    
    &__menu {
        max-width: toRem(1160);
        margin: 0 auto;
        padding-top: toRem(24);

        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            list-style: none;
            column-gap: toRem(60);
            margin-left: -20%;
            
            li {
               font-weight: 700;
               cursor: pointer; 
            }
        }
    }

    &__logo {
        height: toRem(74);
        width: toRem(74);
    }

    &__button {
        display: flex;
        align-self: center;
        column-gap: toRem(20);
    }
    
}